.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.image-container {
	text-align: center;
}

.photographer-info {
	margin-top: 10px;
}

#like-btn {
	margin-top: 10px;
	padding: 8px 16px;
	font-size: 16px;
}
